*{
    padding: 0;
    margin: 0;
}

h1{
    color:beige;
    background-color: black;
    padding: 30px;
    font-size:50px;
    text-align: center;
    font-style: italic;
}
h2{
    margin-bottom: 20px;
}
nav{
    background-color: rgba(248,249,255,0.27);
    width: 100%;
    text-align: right;
    display: inline-flex;
    margin-bottom: 30px;
}
nav a{
    text-decoration: none;
    color: beige;
    padding: 9px;
    font-weight: bold;
}
body{
background-image: url("imagenes/Fondo_gym.jpeg");
    background-attachment:fixed;
    background-repeat:no-repeat
;

}
section{
background-color: blanchedalmond;
margin-bottom: 20px;
    align-items: center;

}
p {
    font-weight: bold;
    font-size: 20px;
    width: 60%;

    margin-bottom: 10px;

}
.clase{
     /* Utilizando Flexbox para alinear imagen y texto horizontalmente */
    display: flex;    /* Para centrar verticalmente imagen y texto */
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-left: 200px; /* Para agregar espacio entre la imagen y el texto */

}


