/* Importación de la fuente Montserrat con pesos 700 y 800 desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

/* Estilos generales de reinicio */
* {
    padding: 0;
    margin: 0;
}

/* Estilos para el cuerpo del documento */
body {
    /* Fondo con imagen fija y justificación del texto */
    background-image: url("imagenes/Fondo_gym.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}

/* Estilos para la sección de encabezado */
header {
    background-color: rgba(80, 77, 80, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el logotipo */
#logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: rgba(248, 249, 255, 0.27);
    width: 100%;
    text-align: right;
    display: inline-flex;
    margin-bottom: 40px;
}

/* Estilos para los enlaces de navegación */
nav a {
    font-size: 20px;
    text-decoration: none;
    color: beige;
    padding: 9px;
    font-weight: bold;
}

/* Estilos para los encabezados h1 */
h1 {
    color: beige;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para los encabezados h2 (la palabra inscripcion al gimnasio)*/
h2 {
    color: beige;
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 500px;
}

/* Estilos para los párrafos */
p {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 500px;
}

/* fondo para la parte de la inscripcion */
div {
    font-size: 20px;
    background-color: rgba(60, 162, 163, 0.48);
}

/* Estilos para los botones */
button {
    text-decoration: none;
    outline: none;
    color: black;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 100px;
    margin-bottom: 15px;
}

/* Estilos al pasar el ratón sobre los botones */
button:hover {
    background-color: rgba(44, 44, 44, 0.73);
}
