/*fuente de letra*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
/* Estilos globales para resetear márgenes, rellenos y ajustar el modelo de caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("imagenes/Fondo_gym.jpeg");
    /*  fondo de la imagen fija */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Estilos para el encabezado, utilizando flexbox para centrar elementos */
header {
    background-color: rgba(80, 77, 80, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el logo, con bordes redondeados y tamaño específico */
#logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/* Estilos para la los liks a la parte de la pagina inicio y pagino, con fondo y alineación */
nav {
    background-color: rgba(248, 249, 255, 0.27);
    width: 100%;
    text-align: right;
    display: inline-flex;
    margin-bottom: 40px;
}

/* Estilos para liks a la parte de la pagina inicio y pagino */
nav a {
    font-size: 20px;
    text-decoration: none;
    color: beige;
    /*espacio entre el borde y el contenido*/
    padding: 9px;
    font-weight: bold;
}

/* Estilos para el título principal, con color, tamaño, alineación y fuente específicos */
h1 {
    color: beige;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos generales para las imágenes */
img {
    max-width: 100%;
}

/* Estilos para el contenedor de productos, utilizando una cuadrícula y fondo específicos */
.contenedor_productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(138, 129, 119, 0.46);
}

/* Estilos para la sección de productos, con bordes redondeados y sombra al hacer hover */
.productos {
    border-radius: 10px;
}
/* Efecto de sombra cuando el mouse pasa sobre el elemento con la clase .productos */
.productos:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

/* Estilos específicos para las imágenes de productos, con transición en el hover */
.productos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    /* Agrega una transición suave a todas las propiedades durante medio segundo (0.5 segundos) */
    transition: all .5s;
}
/*para que la imagen del producto al agrandarse no se salga del rectangulo*/
.productos figure {
    overflow: hidden;
}
/* Aplica un efecto de escala a la imagen dentro del elemento .productos cuando el mouse pasa sobre él */
.productos:hover img {
    transform: scale(1.2);
}

/* Estilos para la información del producto, espacio entre los bordes y el contenido */
.info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para el precio del producto */
.precio {
    font-size: 18px;
    font-weight: 900;
}

/* Estilos para el botón de añadir al carrito */
.info-producto button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

/* Estilos para la sección del carrito, con alineación y márgenes específicos */
.carrito {
    text-align: center;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 60px;
    margin-bottom: 170px;
    background-color: white;
}

/* Estilos para el título del carrito */
h3 {
    font-size: 40px;
    margin-bottom: 70px;
}

/* Estilos para los botones del carrito */
.carrito button {
    margin-bottom: 20px;
    background-color: darkkhaki;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para el total del carrito */
#total {
    font-size: 40px;
    margin-bottom: 60px;
}